{
  "printWidth": 120,
  "arrowParens": "avoid",
  "semi": true,
  "tabWidth": 2,
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "css",
  "jsxBracketSameLine": false,
  "jsxSingleQuote": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "trailingComma": "none"
}
